/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.lock
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide-shm
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide-wal
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/bin/Debug/netcoreapp2.1/*.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/bin/Debug/netcoreapp2.1/*.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/bin/Debug/netcoreapp2.1/*.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/Debug/netcoreapp2.1/*.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/Debug/netcoreapp2.1/*.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/Debug/netcoreapp2.1/*.txt
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/Debug/netcoreapp2.1/*.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/Debug/netcoreapp2.1/*.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/*.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/*.props
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/*.targets
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.WebAPI/obj/*.json
/code/ZYH.Store.Manage.API/.vs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Web/obj
