/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.lock
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide-shm
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide-wal

obj
bin
.vs