/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.lock
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide-shm
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/Server/sqlite3/*.ide-wal

/bin
/obj
/packages
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/DesignTimeBuild/*.dtbcache
/code/ZYH.Store.Manage.API/.vs/ZYH.Store.Manage.API/v15/.suo
/code/ZYH.Store.Manage.API/.vs/config/applicationhost.config
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/bin/Debug/netstandard2.0/ZYH.External.MeiTuan.deps.json
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/bin/Debug/netstandard2.0/ZYH.External.MeiTuan.dll
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/bin/Debug/netstandard2.0/ZYH.External.MeiTuan.pdb
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.assets.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.dll
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/Debug/netstandard2.0/ZYH.External.MeiTuan.pdb
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/ZYH.External.MeiTuan.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/ZYH.External.MeiTuan.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/ZYH.External.MeiTuan.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.MeiTuan/obj/project.assets.json
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/bin/Debug/netstandard2.0/ZYH.External.WenXin.deps.json
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/bin/Debug/netstandard2.0/ZYH.External.WenXin.dll
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/bin/Debug/netstandard2.0/ZYH.External.WenXin.pdb
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.assets.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.dll
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/Debug/netstandard2.0/ZYH.External.WenXin.pdb
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/ZYH.External.WenXin.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/ZYH.External.WenXin.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/ZYH.External.WenXin.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ExternalModule/ZYH.External.WenXin/obj/project.assets.json
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.Views.dll
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.Views.pdb
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.deps.json
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.dll
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.pdb
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.runtimeconfig.dev.json
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/bin/Debug/netcoreapp2.1/WebApplicationHangfire.runtimeconfig.json
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/Razor/Views/HangfireTest/Index.g.cshtml.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.RazorAssemblyInfo.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.RazorAssemblyInfo.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.RazorCoreGenerate.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.RazorTargetAssemblyInfo.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.RazorTargetAssemblyInfo.cs
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.TagHelpers.input.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.TagHelpers.output.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.Views.dll
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.Views.pdb
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.assets.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.csproj.CopyComplete
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.csprojAssemblyReference.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.dll
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/Debug/netcoreapp2.1/WebApplicationHangfire.pdb
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/WebApplicationHangfire.csproj.nuget.cache
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/WebApplicationHangfire.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/WebApplicationHangfire.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/TestHangfire/WebApplicationHangfire/obj/project.assets.json
/code/ZYH.Store.Manage.API/ZYH.Common/bin/Debug/netstandard2.0/ZYH.Common.deps.json
/code/ZYH.Store.Manage.API/ZYH.Common/bin/Debug/netstandard2.0/ZYH.Common.dll
/code/ZYH.Store.Manage.API/ZYH.Common/bin/Debug/netstandard2.0/ZYH.Common.pdb
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.assets.cache
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.csprojAssemblyReference.cache
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.dll
/code/ZYH.Store.Manage.API/ZYH.Common/obj/Debug/netstandard2.0/ZYH.Common.pdb
/code/ZYH.Store.Manage.API/ZYH.Common/obj/ZYH.Common.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ZYH.Common/obj/ZYH.Common.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ZYH.Common/obj/ZYH.Common.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ZYH.Common/obj/project.assets.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/bin/Debug/netstandard2.0/ZYH.Store.Manage.BLL.deps.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/bin/Debug/netstandard2.0/ZYH.Store.Manage.BLL.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/bin/Debug/netstandard2.0/ZYH.Store.Manage.BLL.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.assets.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/Debug/netstandard2.0/ZYH.Store.Manage.BLL.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/ZYH.Store.Manage.BLL.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/ZYH.Store.Manage.BLL.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/ZYH.Store.Manage.BLL.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.BLL/obj/project.assets.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/bin/Debug/netstandard2.0/ZYH.Store.Manage.DAL.deps.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/bin/Debug/netstandard2.0/ZYH.Store.Manage.DAL.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/bin/Debug/netstandard2.0/ZYH.Store.Manage.DAL.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.assets.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/Debug/netstandard2.0/ZYH.Store.Manage.DAL.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/ZYH.Store.Manage.DAL.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/ZYH.Store.Manage.DAL.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/ZYH.Store.Manage.DAL.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.DAL/obj/project.assets.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/bin/Debug/netstandard2.0/ZYH.Store.Manage.Entity.deps.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/bin/Debug/netstandard2.0/ZYH.Store.Manage.Entity.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/bin/Debug/netstandard2.0/ZYH.Store.Manage.Entity.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.assets.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/Debug/netstandard2.0/ZYH.Store.Manage.Entity.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/ZYH.Store.Manage.Entity.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/ZYH.Store.Manage.Entity.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/ZYH.Store.Manage.Entity.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Entity/obj/project.assets.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/bin/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.deps.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/bin/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/bin/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/bin/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.runtimeconfig.dev.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/bin/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.runtimeconfig.json
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.AssemblyInfo.cs
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.AssemblyInfoInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.assets.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.csproj.CoreCompileInputs.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.csproj.FileListAbsolute.txt
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.csprojAssemblyReference.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.dll
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/Debug/netcoreapp2.1/ZYH.Store.Manage.Test.pdb
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/ZYH.Store.Manage.Test.csproj.nuget.cache
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/ZYH.Store.Manage.Test.csproj.nuget.g.props
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/ZYH.Store.Manage.Test.csproj.nuget.g.targets
/code/ZYH.Store.Manage.API/ZYH.Store.Manage.Test/obj/project.assets.json
