
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
Hello 我是Index
<div style="background-color: aqua; width: 100px; height: 100px;"></div>